body{
    background: lightsteelblue;
}

#users{
    display: flex;
    flex-direction: row;
}

#block{
    background: slategray;
    border: 1px solid lightsteelblue;
    text-align: center;
    align-content: center;
    color: white;
}

#btn{
    margin: auto;
    display: block;
    background-color: slategray;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 5px 32px;

}

#success{
    display: none;
    text-align: center;
    color: slategray;
}
